/* ABOUT PAGE */

* {
  box-sizing: border-box;
}
.contanier1 {
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: 100px 100px auto auto auto auto 140px;
  grid-template-areas:
    "headerleft headerleft headerleft headerright headerright headerright"
    "text text text searcbar searcbar searcbar"
    ". section1 section1 section1 section2 ."
    ". section3 section3 section3 section2 ."
    ". . . . . . "
    ". . . . . . "
    ". . . . . . "
    "footer footer footer footer footer footer";
}

#box1 {
  grid-area: headerleft;
  background-color: #35424a;
  border-bottom: 2px solid #a9508b;
}

#box2 {
  grid-area: headerright;
  border-bottom: 2px solid #a9508b;
  background-color: #35424a;
}
#box2 ul {
  margin-left: 150px;
  margin-top: 40px;
}

#box2 ul li {
  list-style-type: none;
  float: left;
  margin-left: 0.75em;
  margin-right: 0.75em;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#box2 a {
  text-decoration: none;
  color: #ffffff;
}

#box2 a:hover {
  font-weight: bold;
}

#box2 a:focus {
  color: #a9508b;
  font-weight: 700;
}

#box3 {
  grid-area: text;
  text-align: center;
  padding-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
  background-color: #35424a;
}

#box4 {
  grid-area: searcbar;
  text-align: center;
  padding-top: 30px;
  background-color: #35424a;
}
#email {
  width: 250px;
  height: 35px;
}

#button {
  width: 90px;
  height: 35px;
  background-color: #a9508b;
  color: #ffffff;
  outline: none;
}

#box5 {
  grid-area: section1;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 23px;
}

#box6 {
  grid-area: section2;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 23px;
  background-color: #35424a;
  margin-top: 25px;
  margin-bottom: 150px;
  color: #ffffff;
  padding: 15px 10px 15px 10px;
}

#box7 {
  grid-area: section3;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 23px;
  background-color: #35424a;
  margin-right: 60px;
  padding: 15px;
  margin-bottom: 40px;
}

.box78p {
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

#box8 {
  grid-area: footer;
  text-align: center;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-top: 2px solid #a9508b;
  background-color: #fffaf0;
}

#box8 img {
  width: 200px;
  height: 40px;
}

#box1p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #a9508b;
  text-align: center;
  padding-bottom: 1px;
}
#box1p span {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .contanier1 {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 75px 50px 75px auto auto auto 140px;
    grid-template-areas:
      "headerleft"
      "headerright"
      "text"
      "searcbar"
      "section1"
      "section2"
      "section3"
      "footer";
  }

  #box2 ul {
    margin-top: 30px;
    margin-left: 15%;
  }
  #box2 ul li {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #box3 h1 {
    padding-top: 25%;
    font-size: 30px;
  }
  #box3 p {
    font-size: 18px;
  }
  #box6 {
    margin-bottom: 30px;
  }

  #box7 {
    margin-right: 0;
  }
}
