* {
    box-sizing:content-box;
  }
  
  body{
    margin: 0px;
    padding: 0px;
  }

  .left {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font: weight 400;
  font-size: 13px;
  margin-left: 15px;        
  }

  .left p{
    padding: 5px;
  }

  
  .right {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    margin-right: 8px;
  }

.right p{

  float: left;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font: weight 400;
  font-size: 13px;
  margin-top: 20px;
}

#apicon{
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  color: aliceblue;
}
  

#button{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color:#ffffff ;
  background-color:#4285F4 ;
  padding: 8px 15px;
  border: none;
}

    /* background-color:#4CAF50;
    padding:5px;
    float:left;
    width:28%;}  */


#About{
    float: left;
}
#Store{
    float: left;
    margin-left: 10px;
    
}

#g.logo{
 
  padding-left: 15px;
  
}


#logo{
  width: 300px;
  margin: auto;
  margin-top: 250px;

}

#divsearch{
  margin: auto;
  margin-top: 20px;
  width: 500px;
  border: none;
  position: relative;
}
#search{
  width: 510px;
  border-radius:20px ;
  height: 38px;
  position: absolute;
  border-color: rgba(128, 128, 128, 0.158);  

  
}

#mic{
		height: 20px;
		position: absolute;
		right: 0;
		top: 10px

}

#butonlar{
  font-size: 13px;
  font-weight: 400;
  margin: auto;
  margin-top: 90px;
  width: 277px
    
  }
  

  #leftbutton{
    color: rgb(128, 128, 128);
    
    font-size: 13px;
    font-weight: 400;
    padding: 9px;
    padding: 10px 15px 10px;

  }



  #rightbutton{
   color: rgb(128, 128, 128);
    margin-left: 13px;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 15px 10px;
    
      }
 
  #text{
    width: 300px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 20px;
  }
  #text p{
   padding-left: 15px;
   
  }

  .footer_top{
    position: fixed;
    bottom: 40px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #5F6368;
    background-color: #F2F2F2;
    border-bottom-style: inset;
    border-color: #E4E4E4;

    
    
  }
  .footer_top p{
    margin-left: 20px;
   

  }

  
 


   #footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #5F6368;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;   
    background-color: #F2F2F2;
    
     
   }

   #footer_left p{
    float: left;
    margin-left: 15px;

   }
   
   #footer_right p{
     float: left;
     margin-right: 15px;
     
   }

    #footer_right{
      float: right;
      

    }

/* #g.logo{
   position: fixed;
    top: 50%;
    right: 50%;
    width: auto;
    border:3px #73AD21; */
    

  
/* @media screen and (max-width:1550px) {
  .left{
    width: 20%;
  
  }
  .main{
    width: 50%;
  }
  .right{
    width: 28%;
  }
} */