/* Background image */
.body {
  background-image: url(images/N.background.jpg);
}
/* Transparent Box */
.trans {
  background-color: rgba(0, 0, 0, 0.37);
  width: 95%;
  margin: auto;
}
/* Form Box */
.form {
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}
/* NETFLIX Başlık  */
#Netflix {
  padding-top: 1%;
  color: white;
  text-align: center;
  font-family: "Bowlby One SC", cursive;
  font-size: 42px;
}

#flix {
  color: red;
}

#Açıklama {
  text-align: center;
  color: white;
  font-size: 23px;
}

/* Form Content Box  */
.iç {
  position: relative;
  margin-left: 5%;
}

#content {
  width: 90%;
  height: 40px;
}

.kutucuk {
  width: 93%;
  height: 50px;
}

.txtarea {
  width: 80%;
  height: 70px;
}

/* Gönder Butonu */
#sub {
  background-color: red;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 30%;
  color: white;
  font-size: larger;
  padding: 3% 10%;
}
#sub:hover {
  background-color: rgb(255, 255, 255);
  color: red;
}
